.opening{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  .opening__imgBg{
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: 888;
  }
  .opening__earth{
    position: relative;
    width: 650px;
    height: 650px;
    z-index: 999;
    left: 50%;
    top:50%;
    -webkit-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%);
    .opening__word{
      width: 100%;
      color:white;
      font-weight: 900;
      font-size: .25rem;
      position: absolute;
      text-align: center;
      margin-top: 50%;
    }
  }
}


.opening.ng-hide-remove{//ng-show为true时的动画ng-hide-remove，false的动画是ng-hide-add
  animation: openingAnimates 1s ease forwards;
  -webkit-animation: openingAnimates 1s ease forwards;
}
@-webkit-keyframes openingAnimates {
  0%{opacity:0;transform: scale(0);}
  50%{opacity:.5;transform: scale(1.5);}
  100%{opacity:1;transform: scale(1);}
}
@keyframes openingAnimates {
  0%{opacity:0;transform: scale(0);}
  50%{opacity:.5;transform: scale(1.5);}
  100%{opacity:1;transform: scale(1);}
}
.opening.ng-hide-add{//ng-show为true时的动画ng-hide-remove，false的动画是ng-hide-add
  animation: openingAnimatesReverse 1s ease forwards;
  -webkit-animation: openingAnimatesReverse 1s ease forwards;
}
@-webkit-keyframes openingAnimatesReverse {
  0%{opacity:1;transform: scale(1);}
  50%{opacity:.5;transform: scale(1.5);}
  100%{opacity:0;transform: scale(0);}
}
@keyframes openingAnimatesReverse {
  0%{opacity:1;transform: scale(1);}
  50%{opacity:.5;transform: scale(1.5);}
  100%{opacity:0;transform: scale(0);}
}
